.footer
  width 100%
  padding 30px 0
  background #333333
  margin 0

  &-company
    font-size 20px
    color $blue
    line-height 28px
    font-family "Prosto One", Helvetica, Arial, sans-serif

    &_span
      color $orange

  &__content
    color $lightGray
    font-weight 300
    margin-top 20px

  &__title
    line-height 28px
    font-weight 300
    color white
    font-size 16px

    &-border
      width 100%
      height 1px
      background $lightGray

      &_orange
        size(30%, 1px)
        margin 0
        background $orange

  &__menu
    margin-top 20px

    &-item
      margin-bottom 10px
      float left
      width 155px

      &__link
        color $lightGray
        font-weight 300

  &__contacts

    &-item
      margin-bottom 10px