.partners-block
  margin-top 100px
  text-align center

  &__title
    color $blue
    font-size 30px
    font-weight 300

  &__content
    margin-top 40px

  &__item
    display inline-block
    margin 0 20px 30px
    text-align center

    &-image
      display table
      width 100%

      &_holder
        display table-cell
        vertical-align middle
        height 60px

        & img
          display inline

    &-title
      color $lightGray
      margin-top 5px
      font-weight 700