.priority-block
  text-align center
  margin-top 100px

  &__title
    font-size 30px
    color $blue
    margin-bottom 40px
    font-weight 300

  &__icon
    size(150px)
    border-radius 80px
    border 2px solid $orange
    display inline-block
    background no-repeat center

    &-tech
      background-image url("../img/layout/imac_100.png");

    &-eco
      background-image url("../img/layout/eco.png");
      background-position 31px 32px

    &-client
      background-image url("../img/layout/smile.png");

  &__description
    margin-top 20px

    &-title
      font-size 18px

    &-text
      margin-top 20px