@import 'nib';

@import 'mixins/variables';

@import 'blocks/common';
@import 'blocks/buttons';
@import 'blocks/layout/header';
@import 'blocks/admin/common';
@import 'blocks/admin/slider';
@import 'blocks/admin/services';
@import 'blocks/admin/objects';
@import 'blocks/admin/forms';