@import 'nib';

@import 'mixins/variables';

@import 'blocks/common';
@import 'blocks/buttons';
@import 'blocks/layout/header';
@import 'blocks/layout/footer';
@import 'blocks/layout/page';
@import 'blocks/layout/invoice';
@import 'blocks/home-slider/slider';
@import 'blocks/motivation-banner/style';
@import 'blocks/services/home-block';
@import 'blocks/services/page';
@import 'blocks/projects/home-block';
@import 'blocks/projects/page';
@import 'blocks/projects/details';
@import 'blocks/priority/priority-block';
@import 'blocks/statistic/home-block';
@import 'blocks/partners/home-block';
@import 'blocks/map/home-block';