.services

  &-cover
    background-image url("../img/layout/sl-pipes-hd.jpg")

  &__image
    size(310px, 200px)

  &__title
    font-size 16px
    color $orange
    padding 8px 5px 10px
    border-bottom $orange 1px solid

  &__description
    margin-top 15px

    & p
      margin-top 10px

  &__list
    margin-top 60px

  &__action
    text-align center
    margin 50px 0

    & .button
      size(300px, 50px)
      line-height 49px
      text-align center
      font-size 20px