.statistic-home
  size(100%, 350px)
  background url("../img/layout/static-bg.jpg") no-repeat center bottom
  margin-top 100px

  &__wrapper
    background rgba(240,120,0,0.8)
    size(100%)
    margin 0
    box-sizing border-box
    padding 100px 0

  &__item
    padding 40px 15px 25px 130px
    background #fcfcfc no-repeat 25px center / 90px 100px
    height 150px
    border-bottom $blue 5px solid

    &__text
      font-weight 300
      color $lightGray
      font-size 16px
      text-transform uppercase

      &-data
        font-size 36px
        color $darkGray
        font-weight 400
        
    &-objects
      background-image url("../img/layout/station-ico.png")
      
    &-personal
      background-image url("../img/layout/engineer-ico.png")

    &-partners
      background-image url("../img/layout/partners-ico.png")
      padding-top 50px