h3
  font-size 30px
  color $blue
  margin-bottom 30px

.widget
  border 1px solid $orange
  padding 20px
  margin-bottom 50px
  position relative

.add
  absolute right 20px top 20px
  border-width 2px

.hidden
  display none

.clear
  clear both