.form
  margin 30px auto
  width 600px

  &__field
    size(100%, 30px)
    margin-bottom 15px
    border 1px solid $blue
    line-height 100%
    box-sizing border-box
    padding 0 5px
    font-size 14px

    &-textarea
      height 200px
      line-height 20px
      resize none