.objects

  &__images
    margin-bottom 15px

  &__image
    size(150px)
    display inline-block
    background no-repeat center / 100% auto
    margin-right 15px

  &__actions
    margin-bottom 15px

    & .button
      margin-right 15px

  &__block-title
    font-size 16px
    margin 15px 0
    color $blue