.services

  &__item
    padding-bottom 20px
    margin-bottom 20px
    border-bottom 1px solid $orange

    &__image
      float left
      size(310px,200px)
      margin-bottom 15px

    &__actions
      float right
      width 280px
      text-align center

      & .button
        margin 0 15px 10px 0

        &.active
          background $orange
          color white

    &__title
      font-size 16px
      color $orange

    &__description
      margin-top 15px