.slider

  &__item
    padding-bottom 30px
    margin-bottom 30px
    border-bottom 1px solid $orange

    &:last-child
      border-bottom none
      margin-bottom 0

    &__actions
      margin-top 15px

      & .button
        margin-right 20px

    &-clear
      clear both

  &__image
    size(50%,auto)
    margin-bottom 20px
    float left

  &__description
    float right
    width 45%

  &__title
    color $orange
    font-size 20px

  &__text
    margin-top 20px

  &__edit
    margin-bottom 15px

    &_image
      size(100%, auto)
      margin-bottom 15px