doctype html
html
   head(lang="ru")
      meta(charset="UTF-8")
      title Админка - Электрощит
      meta(name="viewport", content="width=1000")
      link(href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&subset=latin,cyrillic,cyrillic-ext', rel='stylesheet', type='text/css')
      link(href='/public/css/admin.css', rel='stylesheet', type='text/css')
      script(src='http://api-maps.yandex.ru/2.1/?lang=ru_RU')
      script
        include settings.js
   body
      div#site
      script(src="/public/js/vendor.bundle.js")
      script(src="/public/js/admin.bundle.js")