$orange = #f07c00;
$blue = #1688c1;
$darkGray = #333333;
$lightGray = #999999;

/* Screen resolutions */
$screenXXL = 1980px;
$screenXL = 1680px;
$screenL = 1440px;
$screenM = 1366px;
$screenS = 1280px;
$screenXS = 1024px;